@import './color.css';
.encabezado{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu__link, .footer--lista--redes--item--link, .footer--menu--link {
    color: var(--gris);
    padding: .5rem;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.menu__link:hover, .menu__link.activo {
    border-bottom: 2px solid var(--azul);
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.rodapie--conatiner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.rodapie{
    display: flex;
    flex-direction: column;
}
.footer--menu--item, .footer--lista--redes--item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-decoration: none;
    color: var(--gris)
}


.footer--titulo{
    color:var(--gris);
    padding-bottom: 1rem;
}

.footer--servicios{
    margin-left: 10rem;
}

.footer--lista{
    margin-right: 10rem;
}

.footer--copi{
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: solid 1px var(--gris);
    margin-right: 10rem;
    margin-left: 10rem;
}

.logo--img{
    width: 5rem;
    margin-right: 50px;
}

.footer--logo--img{
    width: 10rem;
}
.fa{
    padding-right: 0.3rem;
}

@media screen and (max-width: 920px) {   

    .footer--logo--img{
        width: 8rem;
    }
    .footer--servicios{
        margin-left: 8rem;
    }
    
    .footer--lista{
        margin-right: 8rem;
    }
    .footer--copi{
        margin-right: 8rem;
        margin-left: 8rem;
    }
  
  }
  
  @media screen and (max-width: 790px) {  
    .footer--logo--img{
        width: 5rem;
    }
    .footer--servicios{
        margin-left: 5rem;
    }
    
    .footer--lista{
        margin-right: 5rem;
    }
    .footer--copi{
        margin-right: 5rem;
        margin-left: 5rem;
    }
  }
  
  @media screen and (max-width: 668px) {  
    .footer--logo--img{
        width: 4rem;
    }
    .footer--servicios{
        margin-left: 3rem;
    }
    
    .footer--lista{
        margin-right: 3rem;
    }
    .footer--copi{
        margin-right: 3rem;
        margin-left: 3rem;
    }
    .logo{
        display: none;
    }
  }
  @media screen and (max-width: 545px) {  
    .footer--logo--img{
        display: none;
    }
    .footer--logo--img{
        width: 3rem;
    }
    .footer--servicios{
        margin-left: 2rem;
    }
    
    .footer--lista{
        margin-right: 2rem;
    }
    .footer--copi{
        margin-right: 2rem;
        margin-left: 2rem;
    }
    .menu__link i{
        display: none;
    }
    
  }
  
  @media screen and (max-width: 420px) {  
    
    .footer--servicios{
        margin-left: 1rem;
    }
    
    .footer--lista{
        margin-right: 1rem;
    }
    .footer--copi{
        margin-right: 1rem;
        margin-left: 1rem;
    }
  }

  @media screen and (max-width: 390px) {  
    
    .menu__item{
        display: flex;
        flex-direction: column;
    }
    .footer--lista--redes--item--link i, .footer--menu--link i{
        display: none;
    }
  }
